html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*FIN DU RESET*/

/*TYPO*/

@font-face {
  font-family: 'Butler Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Butler Regular'), url('http://localhost:63342/Maestria/font/Butler_Regular.woff') format('woff');
}


body {
  background-color: #000000;
}

p {
  color: grey;;
}

h1 {
  font-family: "Butler Regular", Serif;
}

h2 {
  font-family: "Butler Regular", Serif;
}

h3 {
  font-family: "Butler Regular", Serif;
}

h4 {
  font-family: "Butler Regular", Serif;
}

h5 {
  font-family: "Butler Regular", Serif;
}


/*NAVBAR*/

.sidebar {
  height: 100vh;
  background-color: #ffffff;
  position: fixed !important;
  z-index: 1;
}

/*HORIZONTAL SCROLL*/

.slide {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 500vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scroll-snap-type: x mandatory;
}

.one {
  background-image: url("http://localhost:63342/Maestria/img/acceuil.jpg");
  scroll-snap-align: start;
}

.two {
  background: #B33939;
  scroll-snap-align: start;
}

.three {
  background: #0bbaa0;
  scroll-snap-align: start;
}

.four {
  background: #00dfdf;
  scroll-snap-align: start;
}

/*ANIMATION*/

.red-cube {
  background: red;
  margin: 0 autot;
  display: block;
  padding: 40px 0;
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  width: 50vw;
  margin: auto;
  transition: 1.5s;
}

.show {
  opacity: 1;
}

/*HEADER*/

.block_text_header {
  position: absolute !important;
}

.text_header {
  color: #ffffff;
}

/*ARTISTE*/

.img_damien{
  position: inherit;
  margin-top: 50%;
}

.titre_artcom{
  font-size: 8vw;
}

/*LES ARTISTES*/

.titre_artiste{
  position: absolute;
  top: 60%;
  width: 100%;
  right: 50%;
}